@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  /* Main theme colors */
  --background: #FDF8F2;
  --foreground: #050A30;
  --card: #FFF;
  --card-foreground: #050A30;
  --popover: #FFF;
  --popover-foreground: #050A30;
  --primary: #050A30;
  --primary-foreground: #FFF;
  --secondary: #FEA81F;
  --secondary-foreground: #050A30;
  --muted: #f1d0a7;
  --muted-foreground: #333;
  --accent: #fc842c;
  --accent-foreground: #050A30;
  --destructive: #b06d1c;
  --border: #f1d0a7;
  --input: #f8e7d3;
  --ring: #FEA81F;
  
  /* Border radius */
  --radius: 0.625rem;
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  /* Chart colors */
  --chart-1: #050A30;
  --chart-2: #FEA81F;
  --chart-3: #fc842c;
  --chart-4: #1830e7;
  --chart-5: #fe9d01;
  
  /* Sidebar colors */
  --sidebar: #050A30;
  --sidebar-foreground: #FFF;
  --sidebar-primary: #FEA81F;
  --sidebar-primary-foreground: #050A30;
  --sidebar-accent: #fc842c;
  --sidebar-accent-foreground: #050A30;
  --sidebar-border: #1327b9;
  --sidebar-ring: #FEA81F;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

.dark {
  --background: #0a135c;
  --foreground: #f8e7d3;
  --card: #050A30;
  --card-foreground: #f8e7d3;
  --popover: #050A30;
  --popover-foreground: #f8e7d3;
  --primary: #FEA81F;
  --primary-foreground: #050A30;
  --secondary: #fc842c;
  --secondary-foreground: #f8e7d3;
  --muted: #0f1d8a;
  --muted-foreground: #eab87b;
  --accent: #1327b9;
  --accent-foreground: #f8e7d3;
  --destructive: #fb6b04;
  --border: rgba(254, 168, 31, 0.2);
  --input: rgba(254, 168, 31, 0.1);
  --ring: #FEA81F;
  
  /* Chart colors */
  --chart-1: #FEA81F;
  --chart-2: #fc842c;
  --chart-3: #fb6b04;
  --chart-4: #7583f0;
  --chart-5: #fec467;
  
  /* Sidebar colors */
  --sidebar: #050A30;
  --sidebar-foreground: #f8e7d3;
  --sidebar-primary: #FEA81F;
  --sidebar-primary-foreground: #050A30;
  --sidebar-accent: #fc842c;
  --sidebar-accent-foreground: #f8e7d3;
  --sidebar-border: rgba(254, 168, 31, 0.2);
  --sidebar-ring: #FEA81F;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}